{% load static %}

<link rel="stylesheet" type="text/css" href="{% if is_static_path %}{% static tailwind_css_path %}{% else %}{{ tailwind_css_path }}{% endif %}{% if v %}?v={{ v }}{% endif %}">

{# dev_mode is deprecated. Leaving it here to support legacy browser-sync based configs #}
{% if dev_mode %}
  <script id="__bs_script__">//<![CDATA[
  document.write("<script async src='//HOST:8383/browser-sync/browser-sync-client.js'><\/script>".replace("HOST", location.hostname));
  //]]></script>
{% endif %}
