{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Tailwind CSS Skeleton</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>

	<body class="bg-grey-lightest font-serif leading-normal tracking-normal">

		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
			</section>

		</div>


	</body>

</html>
