[tool.poetry]
name = "django-tailwind-4"
version = "0.1.0"
description = "Tailwind 4 CSS Framework for Django projects"
authors = [
    "Tim Kamanin <tim@timonweb.com>",
    "Ryan Sevelj <rsevs3@gmail.com>"
]
maintainers = [
  "Ryan Sevelj <rsevs3@gmail.com>"
]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/rsevs3/django-tailwind-4"
keywords = ["django", "tailwind", "css"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
    "Topic :: Utilities",
    "Environment :: Web Environment",
    "Framework :: Django"
]
packages = [
    { include = "tailwind", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.10.0"
django = ">=3.2.14"
django-browser-reload = {version = "^1.17.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^8.3.4"
pytest-django = "^4.9.0"
tox = "^4.24.1"
pre-commit = "^4.1.0"
isort = "^5.13.2"
flake8 = "^7.1.1"
black = "^24.10.0"
Sphinx = "^8.1.3"
recommonmark = "^0.7.1"
sphinx-rtd-theme = "^3.0.2"

[tool.poetry.extras]
reload = ["django-browser-reload"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[[tool.poetry.source]]
name = "testpypi"
url = "https://test.pypi.org/legacy/"
