# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2

shared: &shared
  steps:
    - checkout

    - run:
        name: install node & npm
        command: |
          sudo apt-get install nodejs npm

    # Download and cache dependencies
    - restore_cache:
        keys:
          - v1-dependencies-{{ checksum "poetry.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

    - run:
        name: install dependencies
        command: |
          poetry install

    - save_cache:
        key: deps-{{ checksum "poetry.lock" }}
        paths:
          - /home/circleci/.cache/pypoetry/virtualenvs

    - run:
        name: run tests
        command: |
          poetry run tox

    - store_artifacts:
        path: test-reports
        destination: test-reports

jobs:
  "python-3.7":
    <<: *shared
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      # check all Python images here: https://circleci.com/docs/2.0/circleci-images/#python
      - image: circleci/python:3.7.9-buster
  "python-3.8":
    <<: *shared
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      # check all Python images here: https://circleci.com/docs/2.0/circleci-images/#python
      - image: circleci/python:3.8.7-buster
  "python-3.9":
    <<: *shared
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      # check all Python images here: https://circleci.com/docs/2.0/circleci-images/#python
      - image: circleci/python:3.9.1-buster

workflows:
  version: 2
  build:
    jobs:
      - "python-3.7"
      - "python-3.8"
      - "python-3.9"
