{% raw %}{% load static tailwind_tags %}{% endraw %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% raw %}{% tailwind_css %}{% endraw %}
</head>

<body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">
{% if cookiecutter.include_daisy_ui == 'yes' %}
    <div class="toast toast-top toast-end">
        <div class="alert alert-info">
            <span>Hello from daisyUi 👋</span>
        </div>
    </div>
{% endif %}
<div class="container mx-auto">
    <section class="flex items-center justify-center h-screen">
        <h1 class="text-5xl">Django + Tailwind = ❤️</h1>
    </section>
</div>
</body>
</html>
